body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: black;
}
#container{
    display:flex;
    flex-direction:column; /*this puts all the elements in a vertical direction by using column but if you want horiztial use row instead*/
    width:100%;
}
nav {
    display:flex;
    flex: 1;
}
nav ul{
    display:flex;
    justify-content:space-around;
    flex:1;

}
.hamburger{
    display:none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
#top_section{
    display:flex;
    width:90%;
    min-height:80px;
    height:auto;

}
#top_section{
    display:flex;
    width:90%;
    min-height:80px;
    height:auto;

}
#top_left_section {
    display: flex;
    flex-direction:column;
    min-height: 80px;
    height: auto;
    flex: 2;
    padding:2%;
}
 #top_left_section ul {
    display: block;

 }

#top_right_section {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    height: auto;
    flex: 1;
    padding:2%;
}
#middle_section {
    display: flex;
    flex-direction:column;
    width: 90%;
    min-height: 150px;
    height: auto;
}


#mid_item1_leftside {
    flex-direction: column;
    display: flex;
    flex: 2;
    gap:10px;
}
#mid_item1_lft_subtitem1 {
    color: whitesmoke;
    font-size: 2.5vw;
}
#mid_item1_lft_subtitem1 span {
    color: rgb(207, 21, 43);
    font-weight: 400;
}
#mid_item1_lft_subtitem2{
    color: whitesmoke;
    font-size: 2.2vw;
    font-style:italic;
    font-weight:200;
}
#mid_item1_rightside {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
#mid_sect_item2{
    width:90%;
    display:flex;
    justify-content:center;
}
#mid_sect_item2 div{
    color:whitesmoke;
    font-size: 3vw;
    font-style:italic;
    text-align:center;
    padding:3% 0 0 0;

}
#mid_sect_item3 .card_title {
    color: rgb(207, 21, 43);
}
#mid_sect_item4{
    width:90%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:5% auto 0 auto;
    padding: 1% 2% 1% 2%;
}
#mid_sect_item4 div{
    font-size:3vw;
    text-align:center;
    color:whitesmoke;
}
#mid_sect_item4  p{
    text-align:center;
    color:whitesmoke;
}
#mid_sect_item5{
    width:90%;
    display:flex;
    flex-direction:column;
    margin: 2% auto 0 auto;
    justify-content:center;
}
#mid_item5_header{
    padding:3% 5% 3% 5%;
    border: 1px solid lightslategray;
    border-radius:10px;
    background-color:black;
    color: rgb(207, 21, 43);
    text-align:center;
    font-size:2.5vw;

}
#mid_item5_list_container{
    display:flex;
    width:100%;
    justify-content:center;
    align-content:center;
    margin:0 auto 0 auto;
    border:none;
}
#mid_item5_list_container > ul{
    display:block;    

}
#mid_item5_list_container ul li {
    list-style: none;
    color: whitesmoke;
    font-size: 2.5vw;
    line-height: 30px;
}

#mid_item5_list_container ul li::before{
     content: "";
     content: "➤ ";
     color:blueviolet;
     font-size:2.3vw;

}


/* CSS rules for mobile devices */
 @media (320px <= width <=768px) {
         nav ul {
     position: fixed;
     left: -110%;
     top: 5rem;
     flex-direction: column;
     background-color: lightcyan;
     width: 15%; /* this width of the side menu*/
     border-radius: 10px;
     transition: 0.3s;
     box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
 }
 nav ul.active {
     left:0;
 }
 nav ul li{
     margin: 2.5rem 0;
     color:whitesmoke;

 }

 .hamburger{
     display:block;
     margin-left: 90%;
     cursor:pointer;
 }
 .hamburger.active .bar:nth-child(2) {
     opacity:0;
 }
 .hamburger.active .bar:nth-child(1) {
     transform: translateY(8px) rotate(45deg);
 }
 .hamburger.active .bar:nth-child(3) {
     transform: translateY(-8px) rotate(-45deg);
 }
 .bar {
     display: block;
     width: 25px;
     height: 3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: whitesmoke;
 }
 #top_left_section div {
     color:whitesmoke;
     text-align:center;
     font-size:4vw;
 }
 #top_left_section ul li {
     color: whitesmoke;
     list-style: none;
     font-size: 2.8vw;
     line-height:30px;

 }
 #top_left_section ul li::before {
     content: "";
     content: "➤ ";
     color:blueviolet;
     font-size:3vw;
 }
     #mid_sect_item1 {
        display: flex;
        border: 2px solid lightslategray;
        border-radius: 10px;
        min-height:40px;
        height:auto;
        width: 80%;
        padding:2.5% 1.5% 2.5% 1.5%;  /*padding: top,right,bottom,left*/
        margin-left:auto;/*center the div*/
        margin-right:auto;/*center the div*/    

    }
    #mid_item1_rightside button {
        background: black;
        border: 2px solid lightslategray;
        border-radius: 10px;
        color: rgb(207, 21, 43);
        padding: 2%;
        width: 110px;
        height: 40px;
    }
    #mid_sect_item3{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-content:center;
        gap:20px;
        margin-top:2%;
        
    }
    #mid_sect_item3 #card1, #card2, #card3{
        width:50%;
        background-color:whitesmoke;
        border:2px solid lightslategray;
        border-radius:10px;
        box-shadow:4px 4px 4px 4px blueviolet;
        text-align:center;
        margin: 1% auto 0 auto;
        padding: 1.5%;
    
    }

 }
/* CSS rules for Tablet devices */
@media (768px <= width <= 1200px) {
    #top_left_section div {
        display: block;
        color: whitesmoke;
        font-size: 4vw;
        text-align: center;
    }
    #top_left_section ul li {
        color: whitesmoke;
        list-style: none;
        font-size: 2.8vw;
        line-height:40px;
    }
    #top_left_section ul li::before {
        content: "";
        content: "➤ ";
        color:blueviolet;
        font-size:3vw;
    }
    #mid_sect_item1 {
        display: flex;
        border: 2px solid lightslategray;
        border-radius: 10px;
        min-height: 40px;
        height: auto;
        width: 80%;
        padding: 2.5% 1.5% 2.5% 1.5%; /*padding: top,right,bottom,left*/
        margin-left: auto; /*center the div*/
        margin-right: auto; /*center the div*/
    }

    #mid_item1_rightside button {
        background: black;
        border: 2px solid lightslategray;
        border-radius: 10px;
        color: rgb(207, 21, 43);
        padding: 2%;
        width: 110px;
        height: 40px;
    }

    #mid_sect_item3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 20px;
        margin-top: 2%;
    }

    #mid_sect_item3 #card1, #card2, #card3 {
        width: 40%;
        background-color: whitesmoke;
        border: 2px solid lightslategray;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px blueviolet;
        text-align: center;
        margin: 1% auto 0 auto;
        padding: 1.5%;
    }
    #mid_item5_list_container ul li {
        list-style: none;
        color: whitesmoke;
        font-size: 2.5vw;
        line-height: 40px;
    }
   
    
}
/* CSS rules for desktop devices */
@media (1200px <= width <= 1618px) {
    #top_left_section div {
        display: block;
        color: whitesmoke;
        font-size: 3.5vw;
    }

    #top_left_section ul li {
        color: whitesmoke;
        list-style: none;
        font-size: 2.8vw;
        line-height: 50px;
    }

        #top_left_section ul li::before {
            content: "";
            content: "➤ ";
            color: blueviolet;
            font-size: 3vw;
        }

    #mid_sect_item1 {
        display: flex;
        border: 2px solid lightslategray;
        border-radius: 10px;
        min-height: 40px;
        height: auto;
        width: 80%;
        padding: 2.5% 1.5% 2.5% 1.5%; /*padding: top,right,bottom,left*/
        margin-left: auto; /*center the div*/
        margin-right: auto; /*center the div*/
    }

    #mid_item1_rightside button {
        background: black;
        border: 2px solid lightslategray;
        border-radius: 10px;
        color: rgb(207, 21, 43);
        padding: 2%;
        width: 110px;
        height: 40px;
    }

    #mid_sect_item3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        gap: 20px;
        margin-top: 8% 0 0 8%;
    }

    #mid_sect_item3 #card1, #card2, #card3 {
            width: 40%;
            background-color: whitesmoke;
            border: 2px solid lightslategray;
            border-radius: 10px;
            box-shadow: 4px 4px 4px 4px blueviolet;
            text-align: center;
            margin: 5% 5% 0 5%;
            padding: 1.5%;
    }

    #mid_item5_list_container ul li {
        list-style: none;
        color: whitesmoke;
        font-size: 2.5vw;
        line-height: 50px;
    }
    

}
@media (1618px <= width <= 2000px){

    #top_left_section div {
        display: block;
        color: whitesmoke;
        font-size: 3vw;
    }

    #top_left_section ul li {
        color: whitesmoke;
        list-style: none;
        font-size: 2.2vw;
        line-height: 60px;
    }

        #top_left_section ul li::before {
            content: "";
            content: "➤ ";
            color: blueviolet;
            font-size: 2vw;
        }

    #mid_sect_item1 {
        display: flex;
        border: 2px solid lightslategray;
        border-radius: 10px;
        min-height: 40px;
        height: auto;
        width: 80%;
        padding: 2.5% 1.5% 2.5% 1.5%; /*padding: top,right,bottom,left*/
        margin-left: auto; /*center the div*/
        margin-right: auto; /*center the div*/
    }

    #mid_item1_rightside button {
        background: black;
        border: 2px solid lightslategray;
        border-radius: 10px;
        color: rgb(207, 21, 43);
        padding: 2%;
        width: 110px;
        height: 40px;
    }

    #mid_sect_item3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        margin-top: 8% 0 0 8%;
    }

        #mid_sect_item3 #card1, #card2, #card3 {
            width: 40%;
            background-color: whitesmoke;
            border: 2px solid lightslategray;
            border-radius: 10px;
            box-shadow: 4px 4px 4px 4px blueviolet;
            text-align: center;
            margin: 5% 5% 0 5%;
            padding: 1.5%;
        }

    #mid_item5_list_container ul li {
        list-style: none;
        color: whitesmoke;
        font-size: 2.2vw;
        line-height: 60px;
    }
        #mid_item5_list_container ul li::before {
            content: "";
            content: "➤ ";
            color: blueviolet;
            font-size: 2vw;
        }

}
@media (2000px <= width <= 2500px) {

    #top_left_section div {
        display: block;
        color: whitesmoke;
        font-size: 2.5vw;
    }

    #top_left_section ul li {
        color: whitesmoke;
        list-style: none;
        font-size: 2vw;
        line-height: 60px;
    }

        #top_left_section ul li::before {
            content: "";
            content: "➤ ";
            color: blueviolet;
            font-size: 1.8vw;
        }

    #mid_sect_item1 {
        display: flex;
        border: 2px solid lightslategray;
        border-radius: 10px;
        min-height: 40px;
        height: auto;
        width: 80%;
        padding: 2.5% 1.5% 2.5% 1.5%; /*padding: top,right,bottom,left*/
        margin-left: auto; /*center the div*/
        margin-right: auto; /*center the div*/
    }

    #mid_item1_rightside button {
        background: black;
        border: 2px solid lightslategray;
        border-radius: 10px;
        color: rgb(207, 21, 43);
        padding: 2%;
        width: 110px;
        height: 40px;
    }

    #mid_sect_item3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        margin-top: 8% 0 0 8%;
    }

        #mid_sect_item3 #card1, #card2, #card3 {
            width: 40%;
            background-color: whitesmoke;
            border: 2px solid lightslategray;
            border-radius: 10px;
            box-shadow: 4px 4px 4px 4px blueviolet;
            text-align: center;
            margin: 5% 5% 0 5%;
            padding: 1.5%;
        }

    #mid_item5_list_container ul li {
        list-style: none;
        color: whitesmoke;
        font-size: 1.8vw;
        line-height: 70px;
    }

        #mid_item5_list_container ul li::before {
            content: "";
            content: "➤ ";
            color: blueviolet;
            font-size: 1.5vw;
        }
}
@media (2500px <= width <= 3000px) {

    #top_left_section div {
        display: block;
        color: whitesmoke;
        font-size: 2.5vw;
    }

    #top_left_section ul li {
        color: whitesmoke;
        list-style: none;
        font-size: 1.8vw;
        line-height: 60px;
    }

        #top_left_section ul li::before {
            content: "";
            content: "➤ ";
            color: blueviolet;
            font-size: 1.4vw;
        }

    #mid_sect_item1 {
        display: flex;
        border: 2px solid lightslategray;
        border-radius: 10px;
        min-height: 40px;
        height: auto;
        width: 80%;
        padding: 2.5% 1.5% 2.5% 1.5%; /*padding: top,right,bottom,left*/
        margin-left: auto; /*center the div*/
        margin-right: auto; /*center the div*/
    }

    #mid_item1_rightside button {
        background: black;
        border: 2px solid lightslategray;
        border-radius: 10px;
        color: rgb(207, 21, 43);
        padding: 2%;
        width: 110px;
        height: 40px;
    }

    #mid_sect_item3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        margin-top: 8% 0 0 8%;
    }

        #mid_sect_item3 #card1, #card2, #card3 {
            width: 40%;
            background-color: whitesmoke;
            border: 2px solid lightslategray;
            border-radius: 10px;
            box-shadow: 4px 4px 4px 4px blueviolet;
            text-align: center;
            margin: 5% 5% 0 5%;
            padding: 1.5%;
        }

    #mid_item5_list_container ul li {
        list-style: none;
        color: whitesmoke;
        font-size: 1.8vw;
        line-height: 70px;
    }

        #mid_item5_list_container ul li::before {
            content: "";
            content: "➤ ";
            color: blueviolet;
            font-size: 1.5vw;
        }
}
